.exp-timeline{
    min-width: 900px;
}

.vertical-timeline-element-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px !important;
    height: 2px !important;
    border-radius: none;
    -webkit-box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgb(0 0 0 / 8%), 0 3px 0 4px rgb(0 0 0 / 5%);
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgb(0 0 0 / 8%), 0 3px 0 4px rgb(0 0 0 / 5%);
}