.container{
    width: 120px;
    height: 120px;
    /* border: 12px solid #f0f0f0; */
    position: relative;
    border-radius: 50%;
    background: linear-gradient(165deg,#fff 0%, rgb(158, 154, 154) 100%);
}

.loader{

}

.loader::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* border-bottom: 0 solid #ffffff05; */
    box-shadow: 
        0 -10px 20px 20px #ffffff40 inset,
        0 -5px 15px 10px #ffffff50 inset,
        0 -2px 5px #ffffff80 inset,
		0 -3px 2px #ffffffBB inset,
		0 2px 0px #ffffff,
		0 2px 3px #ffffff,
		0 5px 5px #ffffff90,
		0 10px 15px #ffffff60,
		0 10px 20px 20px #ffffff40;
    filter: blur(3px);
    animation: 2s rotate linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}













.box h3{
    text-align: center;
    position: relative;
    top: 80px;
}

.box {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  
    
    
    min-height: 200px;
    width: 50vw;
    margin: 100px auto;
    background: white;
    border-radius: 5px;
  }























































