.body{
    padding: 0;
    margin: 0;
    background-color: #292929;
}

.center{
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

input[type="checkbox"] {
    position: relative;
    width: 120px;
    height: 40px;
    -webkit-appearance: none;
    background: linear-gradient(0deg,#333,#000);
    border-radius: 20px;
    outline: none;
    box-shadow: 0 0 0 4px #343434, 
                0 0 0 5px #3e3e3e,
                inset 0 0 10px rgba(0, 0, 0, 1),
                0 5px 20px rgba(0,0,0,0.5),
                inset 0 0 15px rgba(0,0,0,0.2);
}
input:checked[type="checkbox"]{
    background: linear-gradient(0deg,#6dd1ff,#20b7ff);
    box-shadow: 0 0 0 1px #6dd1ff,0 0 0 4px #343434, 
                0 0 0 5px #3e3e3e,
                inset 0 0 10px rgba(0, 0, 0, 1),
                0 5px 20px rgba(0,0,0,0.5),
                inset 0 0 15px rgba(0,0,0,0.2);
}
input[type="checkbox"]::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 40px;
    background: linear-gradient(0deg,#000,#6b6b6b);
    border-radius: 20px;
    box-shadow: 0 0 0 1px #232323;
    transform: scale(.98,.96);
    transition: 0.5s;
}

input:checked[type="checkbox"]::before {
    left: 40px;
}

input[type="checkbox"]::after {
    content: "";
    position: absolute;
    left: 65px;
    top: calc(50% - 2px);
    width: 4px;
    height: 4px;
    /* background: #000; */
    background: linear-gradient(0deg, #6b6b6b, #000);
    border-radius: 50%;
    transition: 0.5s;
}

input:checked[type="checkbox"]::after {
    left: 105px;
    background: #63cdff;
    box-shadow: 0 0 5px #13b3ff,0 0 15px #13b3ff;
}