/* input[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  } */
 body {
    padding: 4em;
    background: #e5e5e5;
    font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  }
  #ll {
    display: block;
    transform: translate(10px,-35px);
    background: #fafafa;
    width: 75px;
    padding: 0px 2px 0px 4px;
    transition: 0.5s;
  }
  input:focus + #ll
{
  transform: translate(10px,-62px);
}
input[value="*"] + #ll {
  transform: translate(10px,-62px);
}
  /* input[type="date"] {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 220px;
    height: 55px;
  } */

  * {
    font-family: arial;
  }
  
  /** float container */
  .float-container {
    /* border: 1px solid #c4c4c4;3f51b5 */
    /* position: relative; */
    
  }
  
  .float-container input {
      border: 1px solid #c4c4c4;
      box-sizing: border-box;
      font-size: 16px;
      padding: 16px 8px 10px 8px;  
      border-radius: 5px;  
      width: 220px;
      height: 55px;
      background: #fafafa;
      position: absolute;
    }
    .float-container input:before{
      content: "";
      top: 0;
      left: 0;
      background: #fafafa;
      width: 100%;
    }
    .float-container input:focus{
      outline: none !important;
      border: 1px solid #3f51b5;
    }
    .float-container input:focus:before{
      content: "";
      top: 0;
      left: 0;
      width: 0%;
    }

    .float-container input:valid:before{
      content: "";
      top: 0;
      left: 0;
      width: 0%;
    }
  
    .float-container label {
      font-size: 16px;
      position: absolute;
      transform-origin: top left;
      transform: translate(10px, 16px) scale(1); 
      transition: 0.5s;  
      z-index: 1;
      white-space: nowrap;
    }
    
    input:focus + label{
      transform: translate(10px, -7px) scale(.75);
      padding: 0px 5px 0px 5px;
      background: #fafafa;
      white-space: nowrap;
    }

    input:required:valid + label{
      transform: translate(10px, -7px) scale(.75);
      padding: 0px 5px 0px 5px;
      background: #fafafa;
      white-space: nowrap;
    }
    
  
  
  