.image{
    background-image: url("../images/photo_scan.jpg");
    height: 40px;
    width: 40px;
    background-repeat: round;
    margin: 0px auto 20px auto;
    border-radius: 30px;
    align-self: center;
}